.login-wrapper {
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-wrapper h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login-wrapper form {
  display: flex;
  flex-direction: column;
}

.login-wrapper label {
  margin-bottom: 10px;
}

.login-wrapper label p {
  margin-bottom: 5px;
}

.login-wrapper input[type="text"],
.login-wrapper input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-wrapper input[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  background-color: #fff8f2; 
  color: black;
  font-weight: bold;
  cursor: pointer;
}