.va-container {
  display: flex;
  flex-direction: column;
  height: 94.3vh;
}

.sidebar {
  width: 12%;
  min-height: 94.3vh;
  background-color: #337ab7c9;
  padding: 1.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.va-body-text {
  margin-left: 17%;
  text-align: left;
  background-color: #fff;
}

body {
  background: radial-gradient(#ffffff 50%, #d1e6f0);
  min-height: 94.3vh;
}

.va-header {
  width: 70%;
}

.va-row {
  margin-bottom: 1.5%;
  flex-grow:1;
}

.va-user-header,
.va-selection-bar,
.va-headings-bar {
  width: 100%;
}

.va-user-header {
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
}

.va-selection-bar {
  background-color: #d0d0d0;
  display: flex;
  align-items: center;
}

.va-headings-bar {
  background-color: #c0c0c0;
  display: flex;
  align-items: center;
}

