body {
  background: radial-gradient(#ffffff 50%, #d1e6f0);
  min-height: 90vh;
}

.header {
  width: 70%;
}

.header h1 {
  color: #030e70;
  font-family: monaco, monospace;
}

.body-text {
  margin-left: 17%; /* Adjust the margin as per your requirements */
  text-align: left;
}

.sidebar {
  width: 12%; /* Adjust the width as per your requirements */
  min-height: 94.3vh; /* Make the sidebar take the full height of the viewport */
  background-color: #337ab7c9;
  padding: 1.3%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  left: 0;
  top: 0;
}

.sidebar img {
  width: 150%; /* Make the image responsive to its container */
  margin-left: 30%;
  margin-top: -12%;
  background: #ffffff;
  clip-path: polygon(0 0, 80% 0, 90% 50%, 90% 50%, 80% 100%, 0 100%);
}

.sidebar button {
  width: 120%; /* Make the button responsive to its container */
  border-radius: 5%;
  border: none;
  padding: 12%;
  color: white;
  font-size: 1.1em;
  font-family: monaco, monospace;
  cursor: pointer;
  background-color: transparent;
  text-align: left;
}

.sidebar button:not(:first-child) {
  margin-top: 8%; /* Adjust the margin as per your requirements */
}

.sidebar button:hover {
  background-color: #f1f1f1;
  color: #337ab7c9;
}

.footer {
  position: absolute;
  bottom: 1%;
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #030e70;
}

.footer .copyright {
  margin-left: auto; /* Move the element to the right */
}

.video-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  grid-gap: 1.2%;
}

.video-pos {
  position: relative;
  width: 100%;
}
