.header {
  width:70%;
  justify-content: center;
}
.header h1
{   
    margin-block-end: 0.0em;
    color:#030e70;
    font-family:monaco, monospace;
}
.sidebar {
width: 200px;
height: 94vh;
  background-color: #9bd3ff30;
padding: 60px;
width: 150px;
position: absolute;
align-items: center;
left: 0;
top: 0;
}

.sidebar button {
  margin-top: 200px;
  width: 100%;
  background-color: #337ab7c9;
  border-radius: 5px;
   border: none;
  font-size:17px;
   font-family:monaco, monospace;
  cursor: pointer;
display: block;
}

.sidebar button:not(:first-child) {
  margin-top: 40px;
}

.sidebar button:hover {
  background-color: #337ab78c;
}

.body-text {
margin-left: 250px;
 justify-content: center;
  text-align: center;
}

.video-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}
.video-pos
{
 position: relative;
  width: 100%;
  height: 225px;
}