.video-monitoring-system {
  display: flex;
  height: 84vh;
}

.menu-bar {
  background-color: #9bd3ff30;
  flex: 0 0 20%;
  padding: 1%;
  display: flex;
  border-radius: 2%;
  margin-top: -6%;
  margin-bottom: 0%;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

.menu-bar > div {
  margin-bottom: 90%;
  position: relative;
}

.menu-bar > div:not(:last-child):after {
  content: "";
  position: absolute;
  bottom: -70%;
  width: 95%;
  height: 0.6%;
  background-color: black;
}

.selection-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 18%;
  padding: 5% 0% 0% 5%;
}

.selection-section select {
  width: 100%;
  height: 20%;
  border-radius: 5px;
  font-size: 1em;
  margin-top: 10%;
  margin-bottom: 10%;
}

.selection-section span {
  text-align: left;
  font-size: 1.2em;
  display: block;
}

.selection-section div {
  display: flex;
  align-items: center;
  gap: 5%;
}

.selection-section input {
  width: 80%;
  height: 50%;
  border-radius: 5px;
  font-size: 1.2em;
  margin-top: 12%;
  margin-bottom: 12%;
}

.button-section {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.button-section button {
  margin-top: 5%;
  width: 100%;
  padding: 5%;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  font-family: monaco, monospace;
  cursor: pointer;
  background-color: #337ab7c9;
}

.button-section button:hover {
  background-color: #337ab78c;
}

.video-playback-shell {
  position: absolute;
  top: 10%;
  left: 20%;
  right: 10%;
  display: flex;
}

.video-playback-shell video {
  width: 78%;
}

.database-table {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 25%;
  margin-top: auto;
  margin-bottom: 0%;
  overflow: hidden;
  overflow-y: auto;
}

.database-table th {
  background-color: #337ab7;
  color: white;
  font-size: 1.1em;
}

.database-table td {
  color: rgb(0, 0, 0);
  background-color: #9bd3ff1c;
  font-size: 1em;
  padding: 1%;
}

.highlighted-row {
  background-color: #337ab7d9;
}

.navigation-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-count {
  font-size: 1em;
  color: gray;
}

.page-navigation-arrows {
  display: flex;
  align-items: center;
}

.page-navigation-arrows button {
  margin-right: 5px;
  padding: 5px;
  border: none;
  background-color: #f0f0f0;
  color: gray;
  font-size: 1em;
  cursor: pointer;
}

.current-page {
  margin: 0 10px;
  font-size: 1em;
}

.reset-button button {
  padding: 5px 15px;
  border: none;
  background-color: #f0f0f0;
  color: gray;
  font-size: 1em;
  cursor: pointer;
  margin-right: 5px; /* Updated margin-right value */
}

.download-button button {
  padding: 5px 15px;
  border: none;
  background-color: #f0f0f0;
  color: gray;
  font-size: 1em;
  cursor: pointer;
  margin-left: 5px; /* Updated margin-left value */
}

.navigation-footer button.highlighted {
  background-color: rgb(3, 255, 45);
}

.footer-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

.footer-button-container button {
  flex-grow: 1;
}

@media screen and (max-width: 1100px) {
  .video-playback-shell video {
    margin-left: -7.5%;
    margin-top: 11%;
  }

  .database-table th {
    font-size: 0.8em;
  }

  .database-table td {
    font-size: 0.8em;
  }
}