.content input[type="text"],
.content input[type="password"], 
.content input[type="number"]{
  width: 80%;
  padding: 0.7%;
  margin-top: 0.8%;
  margin-left: 8%;
  margin-bottom: 1%;
  border: 0.1em solid #ccc;
  border-radius: 4px;
}

.connected{
 margin-left: 35%;
}

.add button{
  padding: 0.7% ;
  width:81.5%;
  background-color: #337ab7;
  font-family:monaco, monospace;
  font-size:1em;
  margin-left: 8%;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add button:hover {
  background-color: #337ab7;
}